name: notifications

volumes:
  postgresNote:
services:
  postgres:
    image: postgres:18
    restart: always
    environment:
        POSTGRES_DB: notifications
        POSTGRES_USER: postgres
        POSTGRES_PASSWORD: postgres
    ports:
    - 5433:5432
    volumes:
    - postgresNote:/var/lib/postgresql 
  seq:
    image: datalust/seq
    restart: always
    environment:
    - ACCEPT_EULA=Y
    - SEQ_FIRSTRUN_NOAUTHENTICATION=true
    ports:
    - 5341:5341
    - 8081:80
