name: notifications

volumes:
  postgres_data:
  rabbitmq_data:
services:
  postgres:
    image: postgres
    restart: always
    environment:
        POSTGRES_DB: notifications
        POSTGRES_USER: postgres
        POSTGRES_PASSWORD: postgres
    ports:
    - "5434:5432"
    volumes:
    - postgres_data:/var/lib/postgresql
  seq:
    image: datalust/seq
    restart: always
    environment:
    - ACCEPT_EULA=Y
    - SEQ_FIRSTRUN_NOAUTHENTICATION=true
    ports:
    - 5341:5341
    - 8081:80
  rabbitmq:
    image: rabbitmq:management-alpine
    hostname: localhost
    ports:
      - 5672:5672
      - 15672:15672
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
