<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="github" value="https://nuget.pkg.github.com/ESCOBORCHIK/index.json" />
    <add key="local" value="C:\nuget-local" />
  </packageSources>
  <packageSourceMapping>
    <!-- github packages -->
    <packageSource key="github">
      <package pattern="Framework" />
      <package pattern="Notifications.*" />
      <package pattern="Shared*" />
    </packageSource>

    <!-- nuget.org -->
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
    <packageSourceCredentials>
    <github>
      <add key="Username" value="escoborchik" />
      <add key="ClearTextPassword" value="%GITHUB_TOKEN%" />
    </github>
  </packageSourceCredentials>
</configuration>
